@import '../../../mixins/responsive_font.scss';

.alert {
    position: fixed;
    top: 100px;
    left: 8vw;
    z-index: 9999;
    padding: .3em 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #2B2B2B;
    border: 2px solid #BFAFF2;
    border-radius: 25px;

    user-select: none;

    opacity: 0;
    transform: translateX(-200%);
    transition: all .2s ease-in;
    &.animation {
        opacity: 1;
        transform: translateX(0%);
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    
}

.message {
    margin: 0 15px;
    h5 {
        font-weight: 600;
        @include responsive-font(18, 12);
        line-height: 1.777;
    }
    p {
        font-weight: 400;
        @include responsive-font(18, 12);
        line-height: 1.777;
        opacity: .4;
    }
}

.close {
    transition: opacity .25s ease ;
    cursor: pointer;
    &:hover {
        opacity: .6;
    }
}