@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

$font: 'Poppins', sans-serif;



:root {
  font-family: $font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #2B2B2B;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  margin: 0 auto;
  max-width: 4000px;
}

main.App {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 5vw;
}

a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  text-align: right;
  color: #fff;
  text-decoration: none;
  user-select: none;
  transition: all .25s ease;
  cursor: pointer;
  &:hover {
    color: #F8D57E;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}